{% extends 'base.html' %}

{% block title %}Delete Budget Budget{% endblock %}

{% block content %}
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title center">Delete Budget Budget?</span>
                    <div class="row">
                        <div class="col s12">
                            <p class="center">Are you sure you want to delete budget period ({{ budget_period.start_date }} - {{ budget_period.end_date }})?</p>
                        </div>
                    </div>
                    <form action="{% url 'delete_budget_period' pk=budget_period.budget_period_id %}" method="post">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col s4">
                            <a href="{% url 'budget_period' %}">
                                <div class="waves-effect waves-light btn blue">
                                    Back
                                </div>
                            </a>
                            </div>
                            <div class="col s4"></div>
                            <div class="col s4">
                                <button class="waves-effect waves-light btn right red" type="submit">Delete Budget Period</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}