body {
    background-color: #ADD8E6;
}

div.card-container {
    margin-top: 10%;
}

p.error {
    color: red;
}


/* Change the colour of inputs to blue */
input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
 border-bottom:1px solid blue !important;
 -webkit-box-shadow:0 1px 0 0 blue !important;
 box-shadow:0 1px 0 0 blue !important;
}

/* Change the colour of select options */
.dropdown-content li>a,
.dropdown-content li>span {
 font-size:16px;
 color: blue;
 display:block;
 line-height:22px;
 padding:14px 16px;
}

/* Change the colour of select underline */
.select-wrapper input.select-dropdown:focus {
    border-bottom:1px solid blue;
}

span.negative-net {
    color: red;
}

span.positive-net {
    color: green;
}

a.summary_btn {
    margin-top: 2%;
}