{% extends 'base.html' %}
{% load static %}

{% block title %}Welcome{% endblock %}

{% block content %}
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title center">Dashboard</span>
                    {% if has_budget %}
                        <p>Recent activity will go here</p>
                    {% else %}
                        <div class="row">
                            <div class="col s12">
                                <p>Looks like you don't have a budget set up, click below to get started.</p>
                            </div>
                        </div>
                        <div class="row">
                            <a href="{% url 'budget_wizard' %}">
                                <div class="col s12 waves-effect waves-light btn">
                                    Create Budget
                                </div>
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s6">
            <div class="card">
                <div class="card-content">
                    <span class="card-title center">Budget History</span>
                    <p>A graph of the budget history will go here.</p>
                </div>
            </div>
        </div>
        <div class="col s6">
            <div class="card">
                <div class="card-content">
                    <span class="card-title center">Goals</span>
                    <p>The user will be able to view their goals here.</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}