{% extends 'base.html' %}
{% load static %}

{% block title %}Welcome{% endblock %}
{% block extra_js %}
    <script src="{% static 'js/initialise_select.js' %}"></script>
    <script>
        /**
         * A function that navigates to the given url on select change.
         */
        function selectUrl() {
            const url = document.getElementById("action_select").value;
            document.location.href = url;
        }
    </script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title center">Dashboard</span>
                    {% if has_budget %}
                        <p>Recent activity will go here</p>
                    {% else %}
                        <div class="row">
                            <div class="col s12">
                                <p>Looks like you don't have a budget set up, click below to get started.</p>
                            </div>
                        </div>
                        <div class="row">
                            <a href="{% url 'create_budget' %}">
                                <div class="col s12 waves-effect waves-light btn blue">
                                    Create Budget
                                </div>
                            </a>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title center">Budget Actions</span>
                    <div class="row">
                        <div class="col s12 input-field">
                            <select id="action_select" onchange="selectUrl()">
                                <option selected disabled>Please select an action</option>
                                <optgroup label="Budget Actions">
                                    <option value="{% url 'edit_budget' %}">Edit Budget Details</option></a>
                                    <option value="{% url 'delete_budget' %}">Delete Budget</option>
                                </optgroup>
                                <optgroup label="Amount Actions">
                                    <option>Add Amount</option>
                                    <option>Edit Amount</option>
                                    <option>Delete Amount</option>
                                </optgroup>
                                <optgroup label="Actual Amount Actions">
                                    <option>Add Actual Amount</option>
                                    <option>Edit Actual Amount</option>
                                    <option>Delete Actual Amount</option>
                                </optgroup>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s6">
            <div class="card">
                <div class="card-content">
                    <span class="card-title center">Budget History</span>
                    <p>A graph of the budget history will go here.</p>
                </div>
            </div>
        </div>
        <div class="col s6">
            <div class="card">
                <div class="card-content">
                    <span class="card-title center">Goals</span>
                    <p>The user will be able to view their goals here.</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}